.app-name {
    text-align: center;
    vertical-align: center;
}

.app-name-div {
    margin: auto;
}

.question {
    width: 100%;
    border-style: solid;
    border-color: darkorange;
    border-radius: 5px;
    padding: 10px;
}

.question-box {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.question-buttons {
    padding-top: 5px;
}

.submit-score {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.correct-answer {
    color: green;
}

.incorrect-answer {
    color: red;
}

.score-display {
    padding-left: 200px;
}

.new-game-button {
    float: left;
    border-color: green;
    border-style: solid;
    border-radius: 5px;
}

.new-game-button-div {
    display: flex;
    align-items: center;
}

.button-h4 {
    margin: auto;
}

.score-div {
    margin: auto;
    display: flex;
    justify-content: center;
}